<app-navigation></app-navigation>


<div class="container">
  <div class="">
    <div class="card">
      <div class="card-header">
       City Detail
      </div>        
          
          <div class="card bg">
              <div class="card-body text-center">
                <h3 class="card-text">{{currentcity.city}}</h3>
                <img class="img-fluid d-block mx-auto" src="{{currentcity.img}}" alt="">                
                
                <p class="card-text"> {{currentcity.desc}}</p>
              </div>
            </div>
    </div>
  </div>
</div>
